body{
    overflow-x: hidden;
    margin: 0 auto;
}
html {
    overflow-y: scroll;
}
.wrap-all {
  	.container();
    max-width: @gridSystemWidth;
}
.footer-column {
    .column(4);
    ul {
        margin: 0;
        padding: 1em;
        list-style-type: circle;
    }

    // border: 2px solid red;
}
.sidebar {
  .column(4);
}
.article{
    // clear: both;
    float: right;
    .column(10);
    padding-left: 20px;
    border-left: 1px solid gray;
    .boxsizing();
}
.sidebar-left{
    float: left;
    .column(2);

}
.main .has-sidebar {
    .column(8);
}
.block.site-footer{
    .row();
    padding-top: 50px;
}
.main {
    .row();
    margin-left: 0.5%;
    // margin-right: 10px;
}

.outer-wrap-footer {
    clear: both;
    margin-bottom: 22px;
}

.site-footer {
    text-align: center;
    .row();
    ul {
        margin: 0;
        padding: 0;
        list-type: none;
    }

    li {
        display: inline;
    }
}

// .footer-column {
//
// }

.next-previous {
    .next,
    .previous {
        width: 50%;
    }

    .next {
        float: right;
        text-align: right;
    }
}

.breadcrumb {
    margin-bottom: 22px;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    li {
        display: inline;

        &::after {
            content: " » ";
        }
    }
}

.site-header {
    position: relative;
  	.row();
}

.rm-max.rm-navbar {
    display: none;
}

// .table,
// .table2,
// .table2.stiped {
//     width: 90%;
// }

div.code,
pre code {
    width: 90%;
    margin-right: 20px;
}

// h4,
// main p {
//     margin-right: 10%;
//     margin-left: 10px;
// }
//
// .table,
// .table2,
// .table2.stiped {
//     width: 90%;
// }
// .next {
//     margin-right: 10%;
// }
/** --------------------------------------------------------------
 *  Responsive design
 */
@media screen and (max-width: 960px) {
    .flash-wrap img {
        display: none;
    }
    .navbar2 {
        display: none;
        width: 0;
    }
    .profile {
        //   width: 10%;
        .column(1);
    }
    .site-header{
        width: 100%;
    }
    .site-logo-text {
        .column(4);
    }
    .rm-max.rm-navbar {
        display: block;
    }
}
@media screen and (max-width: 900px) {
    .profile {
        // width: 10%;
        .column(1);
    }
}
@media screen and (max-width: 650px) {
    .sidebar {
        width: 100%;
        // width: @gridSystemWidth;
    }
    .article{
        .column(12);
        border: none;
    }
}
@media screen and (max-width: 880px) {
    .footer-column {
        width: 100%;
        // width: @gridSystemWidth;
        //    width: 100%;
        // margin-bottom: 1px;
        margin-left: 0;
        margin-right: 0;
        border-bottom: 1px solid #374d65;
    }

    .footer {
        overflow-x: hidden;
    }
}
@media screen and (max-width: 550px) {

    .profile {
        //   width: 10%;
        .column(1);
    }
}
@media screen and (max-width: 319px) {
    .site-logo-text {
        display: none;
    }
}
