@import url(default.less);

@maxButtonFontSize: 1.8em;
@navbarItemBgColor: #adad7f;
@menubuttonColor: #213044;
@wrapAllColor: #dbdbdb;
@bodyColor: #d5d5d5;
@wrapColor: #a7a7a7;
@headerColor: #a0abba;
@footerColor: #a0abba;
@articleColor: #213044;
/*Jag kommer åt li i navbaren här */
.rm-desktop {
    li {
        margin: 1em 0 0 1em;
        border: 1px dotted @footerColor;
        // Hover over a menu item
        &:hover {
            color: white;
            background-color: @submenuBgColor;
        }

        a {
            // background-color: #8a8c83;
            background-color: @menubuttonColor;
            color: white;
        }
    }
}
.flash-wrap img{
    display: none;
}
.wrap-all{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: @wrapColor;
}
.article{
    background-color: @articleColor;
    color: white;
    a {
        color: #aea8e2;
    }
}
